<template>
  <div class="banner banner2">
        <ul class="banner-slide">
            <li>
                <div class="banner-content" style="margin-top: -80px">
                    <div class="wrap">
                        <div class="inner text-white">
                            <div class="container">
                                <div class="box">
                                    <div class="price secondary-color" style="font-size:large">
                                        Ksh. 35M | Riverbank Apartments
                                        <!-- <a href="#" class="view-more">View Details</a> -->
                                    </div>
                                    <!--price-->

                                    <h5 class="mb-5"><a href="#">Riverbank, Two Rivers</a></h5>
                                    <p style="font-size:smaller">
                                      Riverbank apartments is a Two rivers residential flagship with beauty combined with all benefits of modern living. 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--banner content-->

                <figure class="overlay overlay2">
                    <img src="assets/images/riverbank-banner.jpg" alt="">
                </figure>
            </li>=
            <!--singel banner-->

            <li>
                <div class="banner-content" style="margin-top: -80px">
                    <div class="wrap">
                        <div class="inner text-white">
                            <div class="container">
                                <div class="box">
                                    <div class="price secondary-color" style="font-size:large">
                                        Ksh. 10.95M | Rundaview Apartment
                                     <!-- <a href="#" class="view-more" style="font-size:small">View Details</a>  -->
                                    </div>
                                    <!--price-->

                                    <h5 class="mb-5"><a href="#"> Limuru Rd, Ruaka </a></h5>
                                    <p style="font-size:smaller">
                                      Spacious three and two bedroom apartments located in a green, leafy and serene area with beautiful views of the greenery countryside, strategically located in the heart of Ruaka.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--banner content-->

                <figure class="overlay overlay2">
                    <img src="assets/images/rundaview-banner.jpg" alt="">
                </figure>
            </li>
            <!--singel banner-->

            <li>
                <div class="banner-content" style="margin-top: -80px">
                    <div class="wrap">
                        <div class="inner text-white">
                            <div class="container">
                                <div class="box">
                                    <div class="price secondary-color" style="font-size:large">
                                        Ksh. 37M | Medina Palms
                                        <!-- <a href="#" class="view-more">View Details</a> -->
                                    </div>
                                    <!--price-->
                                    <h5 class="mb-5"><a href="#">Turtle Bay Road, Watamu</a></h5>
                                    <p style="font-size:smaller">
                                      It features two large en-suite bedrooms with open plan kitchen with dining area coupled with spacious living areas that open up onto tropical gardens and pools.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--banner content-->

                <figure class="overlay overlay2">
                    <img src="assets/images/medina-banner.jpg" alt="">
                </figure>
            </li>
            <!--singel banner-->
        </ul>
    </div>
</template>

<script>
export default {
    name : 'IntroSection'
}
</script>

<style>

</style>